<h1>Edit Chipset {$chipset->getName()} </h1>
<h2>Chipset löschen</h2>
<form action="./config.php?section=insert_delete_chipset&chipset_id={$smarty.get.chipset_id}" method="POST">
	<input name="really_delete" type="checkbox" value="1"> Chipset {$chipset->getName()} wirklich löschen?
	<p><input type="submit" value="Löschen"></p>
</form>

<h2>Chipset ändern</h2>
<form action="./config.php?section=insert_edit_chipset_name&chipset_id={$smarty.get.chipset_id}" method="POST">
	<p>
		<b>Chipset:</b><br><input name="name" size="40" maxlength="100" value="{$chipset->getName()}">
	</p>
	<p>
		<b>Name:</b><br><input name="hardware_name" size="40" maxlength="100" value="{$chipset->getHardwareName()}">
	</p>
	
	<p><input type="submit" value="Absenden"></p>
</form>
