<script src="lib/extern/DataTables/jquery.dataTables.min.js"></script>

<script type="text/javascript">
{literal}
$(document).ready(function() {
	$('#chipsetlist').dataTable( {
		"bFilter": false,
		"bInfo": false,
		"bPaginate": false,
		"aoColumns": [ 
			{ "sType": "string" },
			{ "sType": "string" },
			{ "sType": "string" },
			{ "sType": "html" }
		],
		"aaSorting": [[ 0, "desc" ]]
	} );
} );

$(document).ready(function() {
	$('#chipsetlist_unnamed').dataTable( {
		"bFilter": false,
		"bInfo": false,
		"bPaginate": false,
		"aoColumns": [ 
			{ "sType": "string" },
			{ "sType": "string" },
			{ "sType": "html" }
		],
		"aaSorting": [[ 0, "desc" ]]
	} );
} );
{/literal}
</script>

<h1>Konfiguration der Chipsätze</h1>
<p>Hier können den Chipbezeichnungen der Hersteller Routernamen für normalsterbliche zugewiesen werden. Neue Chipbezeichnungen werden
normalerweise wärend des Crawlens automatisch aufgenommen. Es besteht auch die Möglichkeit diese manuell hinzuzufügen.</p>
<h2>Vorhandene Chipsätze</h2>
{if !empty($chipsetlist)}
<table class="display" id="chipsetlist">
	<thead>
		<tr>
			<th>Chipset</th>
			<th>Name</th>
			<th>Erstellt</th>
			<th>Aktionen</th>
		</tr>
	</thead>
	<tbody>
		{foreach key=count item=chipset from=$chipsetlist}
			<tr>
				<td>{$chipset->getName()}</td>
				<td>{$chipset->getHardwareName()}</td>
				<td>{$chipset->getCreateDate()|date_format:"%d.%m.%Y %H:%M"} Uhr</td>
				<td><a href="./config.php?section=edit_hardware_name&chipset_id={$chipset->getChipsetId()}">Editieren</a></td>
			</tr>
		{/foreach}
	</tbody>
</table>
{else}
	<p>Keine Chipsätze vorhanden. Neue Chipsets werden wärend der Crawls automatisch hinzugefügt und können dann zugewiesen werden.</p>
{/if}

<h2>Neuen Chipsatz eintragen</h2>
<form action="./config.php?section=add_hardware" method="POST">
	<p><b>Chipsatz:</b><br><input name="name" type="text" size="40" value=""></p>
	<p><b>Name:</b><br><input name="hardware_name" type="text" size="40" value=""></p>
	
	<p><input type="submit" value="Eintragen"></p>
</form>
