</div>
</div>

    <div id="footer">
        <div style="text-align:center;">
Hinter dieser Seite steht <a href="https://git.nordwest.freifunk.net/root/netmon">Netmon</a>, ein OpenSource Monitoring System für Freifunk.<br>
Das angebotene Kartenmaterial wird von <a href="http://www.openstreetmap.org">OpenStreetMap.org</a> zur Verfügung gestellt und steht unter der <a href="http://creativecommons.org/licenses/by-sa/2.0/de/">CC-BY-SA 2.0 Lizenz</a>.<br>
Das Layout basiert auf <a href="http://www.yaml.de">YAML</a>
        </div>
        <div style="text-align:right;">
            <a href="impressum.php">Impressum</a>
        </div>
    </div>
    <!-- end: #footer -->

    </div>
</div>

  </body>
</html>
