<h1>Netmon installieren:</h1>

<h2>Netzwerkinformationen</h2>
<form action="./install.php?section=network_insert" method="POST">
	<p>Netzwerkpräfix:<br><input name="net_prefix" type="text" size="7" value="10.18"></p>
	<p>Community Name:<br><input name="community_name" type="text" size="30"></p>
	<p>Community Wesite:<br><input name="community_website" type="text" size="40"></p>
	<p>Nutzunsvereinbarung:<br><input name="networkPolicy" type="text" size="50" value="http://www.picopeer.net/"></p>

	<p><input type="submit" value="Weiter"></p>
</form>
