<script src="lib/extern/DataTables/jquery.dataTables.min.js"></script>

<script type="text/javascript">
{literal}
$(document).ready(function() {
	$('#networklist').dataTable( {
		"bFilter": false,
		"bInfo": false,
		"bPaginate": false,
		"aoColumns": [ 
			{ "sType": "string" },
			{ "sType": "string" },
			{ "sType": "string" },
			{ "sType": "string" },
			{ "sType": "html" },
			{ "sType": "string" }
		],
		"aaSorting": [[ 0, "desc" ]]
	} );
} );
{/literal}
</script>

<h1>Netzwerke</h1>
<p>Administratoren können Netzwerke anlegen aus denen Benutzer dann den Interfaces ihrer Router IP-Adressen zuweisen können.</p>

<h2>Eingetragene Netzwerke</h2>
{if !empty($networklist)}
	<table class="display" id="networklist" style="width: 100%;">
		<thead>
			<tr>
				<th>Netzwerk</th>
				<th>IP-Version</th>
				<th>IP-Range</th>
				<th>Benutzer</h2>
				<th>Eingetragene IPs</h2>
				<th>Aktionen</h2>
			</tr>
		</thead>
		<tbody>
			{foreach item=network from=$networklist}
				<tr>
					<td><a href="./iplist.php?network_id={$network->getNetworkId()}">{$network->getIp()}/{$network->getNetmask()}</a></td>
					<td>{$network->getIpv()}</td>
					<td></td>
					<td></td>
					<td>{$network->getIplist()->getTotalCount()}</td>
					<td><a href="./networks.php?action=delete&network_id={$network->getNetworkId()}">Löschen</a></td>
				</tr>
			{/foreach}
		</tbody>
	</table>
{else}
	<p>Keine Netzwerke konfiguriert.</p>
{/if}

<h2>Neues Netzwerk eintragen</h2>
<form action="./networks.php" method="POST">
		<p>
		<select name="ipv">
			<option value="4">IPv4</option>
			<option value="6">IPv6</option>
		</select>
		<input name="ip" type="text" size="30" maxlength="30">
		<select name="netmask">
		{for $i=0 to 128}
			<option value="{$i}">/{$i}</option>
		{/for}
		</select>
		
		<input type="submit" value="Eintragen">
		</p>
</form>