<script src="lib/extern/DataTables/jquery.dataTables.min.js"></script>
<script src="lib/extern/DataTables/jquery.dataTables.Plugin.DateSort.js"></script>

<script type="text/javascript">
{literal}
$(document).ready(function() {
	$('#routerlist').dataTable( {
		"bFilter": false,
		"bInfo": false,
		"bPaginate": false,
		"aoColumns": [ 
			{ "sType": "html" },
			{ "sType": "string" },
			{ "sType": "string" },
			{ "sType": "date-eu" },
			{ "sType": "html" },
			{ "sType": "numeric" },
			{ "sType": "numeric" },
		],
		"aaSorting": [[ 6, "desc" ]]
	} );
} );
{/literal}
</script>

<h1>Liste der Router</h1>
{if !empty($routerlist)}
	<table class="display" id="routerlist" style="width: 100%;">
		<thead>
			<tr>
				<th>Hostname</th>
				<th>O</th>
				<th>Technik</th>
				<th>Angelegt</th>
				<th>Benutzer</th>
				<th>Up (Std.)</th>
				<th>Clients</th>
			</tr>
		</thead>
		<tbody>
			{foreach $routerlist as $router}
				<tr>
					<td><a href="./router.php?router_id={$router->getRouterId()}">{$router->getHostname()}</a></td>
					<td>
						{if $router->getStatusdata()->getStatus()=="online"}
							<img src="./templates/{$template}/img/ffmap/status_up_small.png" title="online" alt="online">
						{elseif $router->getStatusdata()->getStatus()=="offline"}
							<img src="./templates/{$template}/img/ffmap/status_down_small.png" title="offline" alt="offline">
						{elseif $router->getStatusdata()->getStatus()=="unknown"}
							<img src="./templates/{$template}/img/ffmap/status_unknown_small.png" title="pingbar" alt="pingbar">
						{/if}
					</td>
					<td>{if $router->getChipset()->getHardwareName()}{$router->getChipset()->getHardwareName()}{else}{$router->getChipset()->getName()}{/if}</td>
					<td>{$router->getCreateDate()|date_format:"%d.%m.%Y"}</td>
					<td><a href="./user.php?user_id={$router->getUserId()}">{$router->getUser()->getNickname()}</a></td>
					<td>{math equation="round(x,1)" x=$router->getStatusdata()->getUptime()/60/60}</td>
					<td>{$router->getStatusdata()->getClientCount()}</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
{else}
<p>Keine Router vorhanden.</p>
{/if}