<IfModule mod_rewrite.c>
    RewriteEngine On

	RewriteRule ^eventlist/([0-9A-Za-z_-]+)/?$ api.php?rquest=eventlist&action=$1 [L]
	RewriteRule ^eventlist/?$ api.php?rquest=eventlist [L]
	RewriteRule ^event/([0-9]+)/?$ api.php?rquest=event&id=$1 [L]
	RewriteRule ^iplist/([0-9]+)/?$ api.php?rquest=iplist&id=$1 [L]
	RewriteRule ^ip/([0-9]+)/?$ api.php?rquest=ip&id=$1 [L]
	RewriteRule ^networkinterfacelist/([0-9]+)/?$ api.php?rquest=networkinterfacelist&id=$1 [L]
	RewriteRule ^networkinterface/([0-9]+)/?$ api.php?rquest=networkinterface&id=$1 [L]
	RewriteRule ^routerlist/([0-9]+)/?$ api.php?rquest=routerlist&id=$1 [L]
	RewriteRule ^router/([0-9]+)/eventlist/([0-9A-Za-z_-]+)/?$ api.php?rquest=eventlist&router_id=$1&action=$2 [L]
	RewriteRule ^router/([0-9]+)/eventlist/?$ api.php?rquest=eventlist&router_id=$1 [L]
	RewriteRule ^router/([0-9]+)/?$ api.php?rquest=router&id=$1 [L]
	
	
	RewriteRule ^user/([0-9]+)/routerlist/?$ api.php?rquest=routerlist&user_id=$1 [L]
	
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-s
	RewriteRule ^(.*)$ api.php?rquest=$1 [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^(.*)$ api.php [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} -s
	RewriteRule ^(.*)$ api.php [QSA,NC,L]	
</IfModule>