<h1>Installationsroutine</h1>
<p>Herzlich willkommen in der Installationsroutine von Netmon. Du benutzt Netmon in der Version <i>{$netmon_version}</i>. Dieser Assistent wird dich durch die Installation führen und die wichtigsten Einstellungen vornehmen. Alle weiteren Einstellungen und Anpassungen an deine lokale Community kannst du später als eingeloggter Benutzer im Menü unter <i>Konfiguration</i> vornehmen.</p>

<h2>Wichtige Informationen</h2>
<p>Auf den folgenden Webseiten findest du wichtige Informationen rund um Netmon sowie die für Netmon entwickelten Systeme.</p>
<ul>
	<li><a href="http://wiki.freifunk-ol.de/w/Netmon">Allgemeine Wikiseite zu Netmon</a></li>
	<li><a href="http://wiki.freifunk-ol.de/w/Netmon/Handbuch">Handbuch zu Netmon</a></li>
	<li><a href="http://wiki.freifunk-ol.de/w/Netmon/Handbuch#Installation">Handbuch Abschnitt Installation</a></li>
	<li><a href="http://wiki.freifunk-ol.de/w/Netmon/Development-HowTo">Development-HowTo</a></li>
	<li><a href="http://ticket.freifunk-ol.de/projects/netmon">Netmon Entwicklerportal</a></li>
</ul>

<h2>Systemcheck</h2>
<p>Der Systemcheck überprüft ob alle wichtigen PHP-Extensions, PHP-Funktionen sowie die passende PHP-Version auf deinem Webserver verfügbar sind und ob alle notwendigen externen Programme installiert sind.</p>
<div style="width: 100%; display:inline-block">
    <div style="float:left; width: 33%;">
		<h3>PHP-Extensions</h3>
		<a href="http://php.net/manual/de/book.pdo.php">PDO</a>: {if $pdo_loaded}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
		<a href="http://php.net/manual/de/ref.pdo-mysql.php">PDO MySQL</a>: {if $pdo_mysql_loaded}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
		<a href="http://php.net/manual/de/book.openssl.php">OpenSSL</a>: {if $openssl_loaded}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
		<a href="http://php.net/manual/de/book.gmp.php">GMP</a>: {if $gmp_loaded}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
		<a href="http://php.net/manual/de/book.json.php">Json</a>: {if $json_loaded}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
		<a href="http://php.net/manual/de/book.curl.php">Curl</a>: {if $curl_loaded}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
		<a href="http://php.net/manual/de/book.image.php">GD</a>: {if $gd_loaded}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
		<a href="http://php.net/manual/de/book.iconv.php">Iconv</a>: {if $iconv_loaded}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
	</div>
	<div style="float:left; width: 33%;">
		<h3>PHP-Version</h3>
		PHP >=5.3: {if $php_version}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}
		<h3>PHP-Funktionen</h3> 
		<a href="http://php.net/manual/de/function.exec.php">exec()</a>: {if $exec}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
		<a href="http://php.net/manual/de/function.mail.php">mail()</a>: {if $mail}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_unknown_small.png" alt="nicht aktiviert">{/if}<br>

		<h3>Externe Programme</h3> 
		<a href="http://oss.oetiker.ch/rrdtool/">RrdTool</a>: {if $rrdtool_installed}<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="aktiviert">{else}<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="nicht aktiviert">{/if}<br>
	</div>
	<div style="float:left; width: 33%;">
		<h3>Ergebnis</h3>
		{if !$rrdtool_installed OR !$pdo_loaded OR !$pdo_mysql_loaded OR !$openssl_loaded OR !$gmp_loaded OR !$json_loaded OR !$curl_loaded OR !$gd_loaded OR !$iconv_loaded OR !$exec OR !$php_version}
			<div class="error" style="margin: 0px;">Einige Funktionen sind inaktiv, es kann zu Problemen bei Installation und Betrieb kommen!</div>
		{else}
			<div class="notice" style="margin: 0px;">Alle Funktionen sind aktiv, Installation und Betrieb sollten ohne Probleme ablaufen.</div>
			{if !$mail}
				<div class="unknown" style="margin: 0px; margin-top: 10px;">Da kein Mailserver verfügbar ist, wird ein SMTP-Mailtransport genutzt der im folgenden eingerichtet werden <b>muss</b>.</div>
			 {/if}
		{/if}
	</div>
</div>
<br>
<br>
<form action="./install.php?section=db" method="POST">
  <p><input type="submit" value="Weiter"></p>
</form>