<!-- Javascript for Interfacelist -->
<!-- <script src="./lib/extern/jquery/jquery.min.js"></script>-->
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="lib/extern/DataTables/jquery.dataTables.min.js"></script>

<!-- Javascript for the graphs -->
<script type="text/javascript" src="lib/extern/javascriptrrd/binaryXHR.js"></script>
<script type="text/javascript" src="lib/extern/javascriptrrd/rrdFile.js"></script>
<!-- rrdFlot class needs the following four include files !-->
<script type="text/javascript" src="lib/extern/javascriptrrd/rrdFlotSupport.js"></script>
<script type="text/javascript" src="lib/extern/javascriptrrd/rrdFlot.js"></script>
<script type="text/javascript" src="lib/extern/flot/jquery.flot.js"></script>
<script type="text/javascript" src="lib/extern/flot/jquery.flot.selection.js"></script>

{literal}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#batman_adv_originator_list').dataTable( {
				"bFilter": false,
				"bInfo": false,
				"sScrollY": "250px",
				"bPaginate": false,
				"aaSorting": [[ 2, "desc" ]]
			} );
		} );
		
		// This function updates the Web Page with the data from the RRD archive header
		// when a new file is selected
		function update_fname(html_graph_id) {
			var graph_opts={legend: {position:"ne", noColumns:2} };
			var ds_graph_opts={	'traffic_rx':{checked:true, color: "#3118c3", lines: { show: true, fill: true, fillColor:""} },
								'traffic_tx':{checked:true, color: "#ef2700", lines: { show: true, fill: true, fillColor:""} },
								'memory_caching':{checked:true, color: "#ffd500", lines: { show: true, fill: true, fillColor:""} },
								'memory_buffering':{checked:true, color: "#002fb5", lines: { show: true, fill: true, fillColor:""} },
								'memory_free':{checked:true, color: "#2cbc00", lines: { show: true, fill: true, fillColor:""} },
								'clients':{checked:true, color: "#006c7b", lines: { show: true, fill: false} },
								'originators':{checked:true, color: "#46ddd4", lines: { show: true, fill: false} },
								'total':{checked:true, color: "#d97500", lines: { show: true, fill: false} },
								'runnable':{checked:true, color: "#d90000", lines: { show: true, fill: false} },
								'quality':{checked:true, color: "#1fa600", lines: { show: true, fill: true, fillColor:""} } };
			
			// the rrdFlot object creates and handles the graph
			var f=new rrdFlot(html_graph_id,rrd_data,graph_opts,ds_graph_opts);
		}
		
		// This is the callback function that,
		// given a binary file object,
		// verifies that it is a valid RRD archive
		// and performs the update of the Web page
		function update_fname_handler(bf, html_graph_id) {
			var i_rrd_data=undefined;
			try {
				var i_rrd_data=new RRDFile(bf);            
			} catch(err) {
				//alert("File "+fname+" is not a valid RRD archive!");
			}
			if (i_rrd_data!=undefined) {
				rrd_data=i_rrd_data;
				update_fname(html_graph_id)
			}
		}
	</script>
{/literal}

<h1>Router {$router->getHostname()} {if $router->getChipset()->getHardwareName()}({$router->getChipset()->getHardwareName()}){/if}</h1>
<div style="width: 100%; margin-bottom: 10px;" class="clearfix">
	<!--<div style="float:left; width: 50%;">
		<div style="height: 100px; margin-bottom: 6px;">
			<div style="float:left; width: 137px; margin-right: 4px; height: 100px; border: solid 0px black;">
				<img src="./data/panorama/round_view_1_234.png">
			</div>
			<div style="float:left; width: 137px; margin-right: 4px; height: 100px; border: solid 0px black;">
				<img src="./data/panorama/round_view_2_234.png">
			</div>
			<div style="float:left; width: 137px; height: 100px; border: solid 0px black;">
				<img src="./data/panorama/round_view_3_234.png">
			</div>
		</div>
		<div style="height: 100px; margin-bottom: 6px;">
			<div style="float:left; width: 137px; margin-right: 4px; height: 100px; border: solid 0px black;">
				<img src="./data/panorama/round_view_8_234.png">
			</div>
			<div style="float:left; width: 137px; margin-right: 4px; height: 100px; border: solid 0px black;">
				<img style="display: block; margin-left: auto; margin-right: auto" src="./templates/freifunk_oldenburg/img/kompass.png">
			</div>
			<div style="float:left; width: 137px; height: 100px; border: solid 0px black;">
				<img src="./data/panorama/round_view_4_234.png">
			</div>
		</div>
		
		<div style="float:left; width: 137px; margin-right: 4px; height: 100px; border: solid 0px black;">
			<img src="./data/panorama/round_view_7_234.png">
		</div>
		<div style="float:left; width: 137px; margin-right: 4px; height: 100px; border: solid 0px black;">
			<img src="./data/panorama/round_view_5_234.png">
		</div>
		<div style="float:left; width: 137px; height: 100px; border: solid 0px black;">
			<img src="./data/panorama/round_view_6_234.png">
		</div>
	</div>-->
	<div style="float:left; width: 100%;">
		{if $router->getLatitude() AND $router->getLongitude()}
			<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key={$google_maps_api_key}&sensor=false'></script>
			<script type="text/javascript" src="./lib/extern/openlayers/OpenLayers.js"></script>
			<script type="text/javascript" src="./templates/{$template}/js/OpenStreetMap.js"></script>
			<script type="text/javascript" src="./templates/{$template}/js/OsmFreifunkMap.js"></script>
			<div id="map" style="height:312px; width:100%; border:solid 0px black;font-size:9pt;">
				<script type="text/javascript">
					var lat = {$router->getLatitude()};
					var lon = {$router->getLongitude()};
					var radius = 30
					var zoom = 17;
					router_map({$router->getRouterId()});
				</script>
			</div>

			<p>
				<b>Standort:</b> {$router->getLocation()}
			</p>
		{else}
			<p>Keine Standortdaten verfügbar.</p>
		{/if}
	</div>
</div>

<div style="width: 100%; margin-bottom: 0px;" class="clearfix">
	<div style="float:left; width: 60%;">
		<h2>Systemdaten</h2>
		<div style="float:left; width: 60%;">
			<p>
				<b>Benutzer:</b> <a href="./user.php?user_id={$router->getUserId()}">{$router->getUser()->getNickname()}</a><br>
				<b>Angelegt am:</b> {$router->getCreateDate()|date_format:"%d.%m.%Y"}<br>
				<b>Beschreibung:</b> {$router->getDescription()}<br>
				
				<b>Aktualisiert am:</b> {$router->getUpdateDate()|date_format:"%d.%m.%Y"}<br>
				<b>Statusdaten von:</b> {$router->getStatusdata()->getCreateDate()|date_format:"%d.%m.%Y %H:%M"} Uhr<br>
				{if $router->getStatusdata()->getLocalTime()}
					<b>Router-Zeit:</b> {$router->getStatusdata()->getLocalTime()|date_format:"%d.%m.%Y %H:%M"} Uhr<br>
				{/if}
				
				{if $router->getStatusdata()->getUptime()}
					<b>Idletime/Uptime:</b> {math equation="round(x,1)" x=$router->getStatusdata()->getIdletime()/60/60}{if $router->getStatusdata()->getIdletime()}/{math equation="round(x,1)" x=$router->getStatusdata()->getUptime()/60/60}{/if} Stunden<br>
				{/if}
			</p>
			
		</div>
		<div style="float:left; width: 40%;">
			<p>
				<b>Status: </b>
				{if $router->getStatusdata()->getStatus()=="online"}
					<img src="./templates/{$template}/img/ffmap/status_up_small.png" alt="online">
				{elseif $router->getStatusdata()->getStatus()=="offline"}
					<img src="./templates/{$template}/img/ffmap/status_down_small.png" alt="offline">
				{elseif $router->getStatusdata()->getStatus()=="unknown"}
					<img src="./templates/{$template}/img/ffmap/status_unknown_small.png" title="unknown" alt="unknown">
				{/if}<br>
				{if $router->getStatusdata()->getStatus()=="online"}
					<b>Clients:</b> {$router->getStatusdata()->getClientCount()}<br>
				{/if}
				{if $router->getStatusdata()->getHostname()}
					<b>Hostname:</b> {$router->getStatusdata()->getHostname()}<br>
				{/if}
				{if $router->getStatusdata()->getCpu()}
					<b>Cpu:</b> {$router->getStatusdata()->getCpu()}<br>
				{/if}
				{if $router->getStatusdata()->getMemoryFree()}
					<b>Free memory:</b> {$router->getStatusdata()->getMemoryFree()}/{$router->getStatusdata()->getMemoryTotal()} Kb<br>
				{/if}
				{if $router->getStatusdata()->getLoadavg()}
					<b>Loadaverage:</b> {$router->getStatusdata()->getLoadavg()}<br>
				{/if}
				{if $router->getStatusdata()->getProcesses()}
					<b>Processes:</b> {$router->getStatusdata()->getProcesses()}<br>
				{/if}
			</p>
		</div>
		<br style="clear:both">
		
		<h2>Softwaredaten</h2>
		<p>
			{if $router->getStatusdata()->getDistname()}
				<b>Betriebssystem:</b> {$router->getStatusdata()->getDistname()} {if $router->getStatusdata()->getDistversion()}({$router->getStatusdata()->getDistversion()}){/if}<br>
			{/if}
			{if $router->getStatusdata()->getOpenwrtCoreRevision() OR $router->getStatusdata()->getOpenwrtFeedsPackagesRevision()}
				<b>Betriebssystem Revs.:</b> {$router->getStatusdata()->getOpenwrtCoreRevision()} (Core) und {$router->getStatusdata()->getOpenwrtCoreRevision()} (Packages)<br>
			{/if}
			{if $router->getStatusdata()->getKernelVersion()}
				<b>Kernel:</b> {$router->getStatusdata()->getKernelVersion()}<br>
			{/if}
			{if $router->getStatusdata()->getBatmanAdvancedVersion()}
				<b>B.A.T.M.A.N advanced:</b> {$router->getStatusdata()->getBatmanAdvancedVersion()}<br>
			{/if}
			{if $router->getStatusdata()->getNodewatcherVersion()}
				<b>Nodewatcher:</b> {$router->getStatusdata()->getNodewatcherVersion()}<br>
			{/if}
			{if $router->getStatusdata()->getFirmwareVersion()}
				<b>Firmware:</b> {$router->getStatusdata()->getFirmwareVersion()}
				{if $router->getStatusdata()->getFirmwareRevision()}({$router->getStatusdata()->getFirmwareRevision()}){/if}<br>
			{/if}
		</p>
	</div>
	<div style="float:left; width: 40%;">
		<h2>Ereignisse</h2>
		{if $eventlist->getTotalCount()>0}
			<ul>
				{foreach key=count item=event from=$eventlist->getEventlist()}
					<li>
						<b><a href="event.php?event_id={$event->getEventId()}">{$event->getCreateDate()|date_format:"%e.%m. %H:%M"}</a>:</b> 
						{if $event->getObject() == 'router'}
							{assign var="data" value=$event->getData()}
							{if $event->getAction() == 'status' AND $data.to == 'online'}
								geht <span style="color: #007B0F;">online</span>
							{/if}
							{if $event->getAction() == 'status' AND $data.to == 'offline'}
								geht <span style="color: #CB0000;">offline</span>
							{/if}
							{if $event->getAction() == 'reboot'}
								wurde <span style="color: #000f9c;">Rebootet</span>
							{/if}
							{if $event->getAction() == 'status' AND $data.to == 'unknown'}
								erhält Status <span style="color: #F8C901;">pingbar</span>
							{/if}
							{if $event->getAction() == 'new'}
								wurde Netmon hinzugefügt
							{/if}
							{if $event->getAction() == 'batman_advanced_version'}
								änderte Batman adv. Version von {$data.from} zu {$data.to}</span>
							{/if}
							{if $event->getAction() == 'firmware_version'}
								änderte Firmware Version von {$data.from} zu {$data.to}</span>
							{/if}
							{if $event->getAction() == 'nodewatcher_version'}
								änderte Nodewatcher Version von {$data.from} zu {$data.to}</span>
							{/if}
							{if $event->getAction() == 'distversion'}
								änderte Distversion Version von {$data.from} zu {$data.to}</span>
							{/if}
							{if $event->getAction() == 'distname'}
								änderte Distname Version von {$data.from} zu {$data.to}</span>
							{/if}
							{if $event->getAction() == 'hostname'}
								änderte Hostname von {$data.from} zu {$data.to}</span>
							{/if}
							{if $event->getAction() == 'chipset'}
								änderte Chipset von {$data.from} zu {$data.to}</span>
							{/if}
							{if $event->getAction() == 'watchdog_ath9k_bug'}
								<a href="./event.php?event_id={$event->getEventId()}">ATH9K Bug registriert</a>
							{/if}
						{/if}
					</li>
				{/foreach}
			</ul>
		{else}
			<p>Es sind keine Events in der Datenbank gespeichert.</p>
		{/if}
	</div>
</div>

<h2>Graphen</h2>
<div style="width: 100%; margin-bottom: 40px;" class="clearfix">
	<div style="float:left; width: 50%;">
		<h3>Speicher</h3>
		<script type="text/javascript">
			fname='./rrdtool/databases/router_{$router->getRouterId()}_memory.rrd';
			html_graph_id="memory_graph"
			try {
				FetchBinaryURLAsync(fname,update_fname_handler, html_graph_id);
			} catch (err) {
				alert("Failed loading "+fname+"\n"+err);
			}
		</script>
		<div id="memory_graph" style="float:left; width: 100%;"></div>
	</div>
	<div style="width: 50%; float: left;">
		<h3>Prozesse</h3>
		<script type="text/javascript">
			fname='./rrdtool/databases/router_{$router->getRouterId()}_processes.rrd';
			html_graph_id="processes_graph"
			try {
				FetchBinaryURLAsync(fname,update_fname_handler, html_graph_id);
			} catch (err) {
				alert("Failed loading "+fname+"\n"+err);
			}
		</script>
		<div id="processes_graph" style="float:left; width: 100%;"></div>
	</div>
</div>

<div style="width: 100%; margin-bottom: 40px;" class="clearfix">
	<div style="float:left; width: 50%;">
		<h3>Verbundene Clients</h3>
		<script type="text/javascript">
			fname='./rrdtool/databases/router_{$router->getRouterId()}_clients.rrd';
			html_graph_id="client_history_graph"
			try {
				FetchBinaryURLAsync(fname,update_fname_handler, html_graph_id);
			} catch (err) {
				alert("Failed loading "+fname+"\n"+err);
			}
		</script> 
		<div id="client_history_graph" style="float:left; width: 100%;"></div>
	</div>
	<div style="width: 50%; float: left;">
		<h3>Sichtbare Nachbarn</h3>
		<script type="text/javascript">
			fname='./rrdtool/databases/router_{$router->getRouterId()}_originators.rrd';
			html_graph_id="batman_adv_originator_graphic"
			try {
				FetchBinaryURLAsync(fname,update_fname_handler, html_graph_id);
			} catch (err) {
				alert("Failed loading "+fname+"\n"+err);
			}
		</script> 
		<div id="batman_adv_originator_graphic" style="float:left; width: 100%;"></div>
	</div>
</div>

<div style="width: 100%; margin-bottom: 40px;" class="clearfix">
	<h3>Verbindungsqualität zu Nachbarn</h3>
	<div style="float:left; width: 50%;">
		<div style="width: 95%">
		<table class="display" id="batman_adv_originator_list" style="font-size: 8pt;">
			<thead>
				<tr>
					<th>Originator</th>
					<th>Seen</th>
					<th>Qual.</th>
					<th>Nexthop</th>
					<th>Iface</th>
				</tr>
			</thead>
			<tbody>
				{foreach $originator_status_list->getOriginatorStatusList() as $originator}
					<tr style="{if $originator->getOriginator()== $originator->getNexthop()}font-weight: bold;{/if} background-color: {if $originator->getLinkQuality() >= 0 AND $originator->getLinkQuality() < 105}#ff1e1e{else if $originator->getLinkQuality() >= 105 AND $originator->getLinkQuality() < 130}#ff4949{else if $originator->getLinkQuality() >= 130 AND $originator->getLinkQuality() < 155}#ff6a6a{else if $originator->getLinkQuality() >= 155 AND $originator->getLinkQuality() < 180}#ffac53{else if $originator->getLinkQuality() >= 180 AND $originator->getLinkQuality() < 205}#ffeb79{else if $originator->getLinkQuality() >= 205 AND $originator->getLinkQuality() < 230}#79ff7c{else if $originator->getLinkQuality() >= 230}#04ff0a{/if};">
						<td><a href="search.php?search_range=mac_addr&search_string={$originators.originator}">{$originator->getOriginator()}</a></td>
						<td>{$originator->getLastSeen()}</td>
						<td>{$originator->getLinkQuality()}</td>
						<td>{$originator->getNexthop()}</td>
						<td>{$originator->getOutgoingInterface()}</td>
					</tr>
				{/foreach}
			</tbody>
		</table>
		</div>
	</div>
	<div style="width: 50%; float: left;">
			<script type="text/javascript">
				fname='./rrdtool/databases/router_{$router->getRouterId()}_batman_adv_link_quality_average.rrd';
				html_graph_id="batman_adv_link_quality_average_graphic"
				try {
					FetchBinaryURLAsync(fname,update_fname_handler, html_graph_id);
				} catch (err) {
					alert("Failed loading "+fname+"\n"+err);
				}
			</script> 
			<div id="batman_adv_link_quality_average_graphic" style="float:left; width: 100%;"></div>
			
			{foreach $originator_status_list->getOriginatorStatusList() as $originator}
				<script type="text/javascript">
					fname='./rrdtool/databases/router_{$router->getRouterId()}_batman_adv_link_quality_{$originator->getOriginator()|replace:":":"_"}.rrd';
					html_graph_id="batman_adv_link_quality_{$originator->getOriginator()|replace:":":"_"}_graphic"
					try {
						FetchBinaryURLAsync(fname,update_fname_handler, html_graph_id);
					} catch (err) {
						alert("Failed loading "+fname+"\n"+err);
					}
				</script> 
				<div id="batman_adv_link_quality_{$originator->getOriginator()|replace:":":"_"}_graphic" style="float:left; width: 100%; display: none;"></div>
			{/foreach}
			
			<p>
				<select name="search_range" onChange="setBatmanAdvLinqQualityPictures(this.options[this.selectedIndex].value)">
					<option value="average" >Zeige Grafik für Average</option>
					{foreach $originator_status_list->getOriginatorStatusList() as $originator}
						<option value="{$originator->getOriginator()|replace:":":"_"}" >Zeige Grafik für {$originator->getOriginator()}</option>
					{/foreach}
				</select>
			</p>
	</div>
</div>

<h2>Netzwerkinterfaces</h2>
{foreach item=interface from=$networkinterfacelist->getNetworkinterfacelist() key=schluessel}
	<div style="width:100%; margin-bottom: 3px; background-color: #81b59e;" onclick='$("#{$interface->getName()|replace:".":"_"}").slideToggle("slow");'>
		<b>{$interface->getName()}</b> (<a href="./interface.php?section=delete&interface_id={$interface->getNetworkinterfaceId()}">entfernen</a>)
	</div>
	<div id="{$interface->getName()|replace:".":"_"}" style="{if !($interface->getName()|stristr:"wlan") AND !($interface->getName()|stristr:"br-mesh") AND !($interface->getName()|stristr:"vpn")}display:none{/if}; margin-bottom: 10px; width: 100%;" class="clearfix">
		<div style="float:left; width: 50%;">
			<ul>
				{if $interface->getStatusdata()->getMacAddr()}
					<li>
						<b>Mac-Adresse:</b> {$interface->getStatusdata()->getMacAddr()}
					</li>
				{/if}
				{if $interface->getStatusdata()->getMtu()}
					<li>
						<b>MTU:</b> {$interface->getStatusdata()->getMtu()}
					</li>
				{/if}
				<li>
					<b>Traffic RX:</b> {round($interface->getStatusdata()->getTrafficRxAvg()/1000, 2)} kBit/s
				</li>
				<li>
					<b>Traffic TX:</b> {round($interface->getStatusdata()->getTrafficTxAvg()/1000, 2)} kBit/s
				</li>
					{if $interface->getStatusdata()->getWlanMode()}
					<li>
						<b>WLAN-Mode:</b> {$interface->getStatusdata()->getWlanMode()}
					</li>
				{/if}
				{if $interface->getStatusdata()->getWlanFrequency()}
					<li>
						<b>WLAN-Channel:</b> {$interface->getStatusdata()->getWlanChannel()} ({$interface->getStatusdata()->getWlanFrequency()})
					</li>
				{/if}
				{if $interface->getStatusdata()->getWlanEssid()}
					<li>
						<b>WLAN-ESSID:</b> {$interface->getStatusdata()->getWlanEssid()}
					</li>
				{/if}
				{if $interface->getStatusdata()->getWlanBssid()}
					<li>
						<b>WLAN-BSSID:</b> {$interface->getStatusdata()->getWlanBssid()}
					</li>
				{/if}
				{if $interface->getStatusdata()->getWlanTxPower()}
					<li>
						<b>WLAN-TX-Power:</b> {$interface->getStatusdata()->getWlanTxPower()}
					</li>
				{/if}
			</ul>

			<ul>
				<li><b>IP-Adressen:</b>
					<ul>
						{foreach item=ip from=$interface->getIplist()->getIplist()}
						<li>
							<b>{$ip->getIpCompressed()}/{$ip->getNetwork()->getNetmask()}</b> (<a href="./ping_ip.php?ip_id={$ip->getIpId()}">Ping</a>, <a href="./show_crawl_data.php?ip_id={$ip->getIpId()}">Crawl</a>, <a href="./ip.php?section=delete&ip_id={$ip->getIpId()}&router_id={$router_data.router_id}">entfernen</a>)
							<ul>
								<li>
									<b>Angelegt am:</b> {$ip->getCreateDate()|date_format:"%e.%m.%Y %H:%M"}
								</li>
							</ul>
						</li>
						{/foreach}
						<li><a href="./ip.php?section=add&router_id={$interface->getRouterId()}&interface_id={$interface->getNetworkinterfaceId()}">IP hinzufügen</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div style="width: 20%; float: left;">
			<script type="text/javascript">
				fname='./rrdtool/databases/router_{$router->getRouterId()}_interface_{$interface->getName()}_traffic_rx.rrd';
				html_graph_id="jrrd_{$schluessel}"
				try {
					FetchBinaryURLAsync(fname,update_fname_handler, html_graph_id);
				} catch (err) {
					alert("Failed loading "+fname+"\n"+err);
				}
			</script>
			<div id="jrrd_{$schluessel}"></div>
		</div>
	</div>
{/foreach}