<?php

//MYSQL
$GLOBALS['mysql_host'] = "localhost";
$GLOBALS['mysql_db'] = "freifunksql5";
$GLOBALS['mysql_user'] = "freifunksql5";
$GLOBALS['mysql_password'] = "bla";

$GLOBALS['dns_tld'] = "ffol";
$GLOBALS['dns_hosts_file_path'] = "./hosts_netmon_test";

?>
