<script src="lib/extern/jquery/jquery.min.js"></script>
<script src="lib/extern/DataTables/jquery.dataTables.min.js"></script>
<script src="lib/extern/DataTables/jquery.dataTables.Plugin.DateSort.js"></script>

<script type="text/javascript">
{literal}
$(document).ready(function() {
	$('#routerlist').dataTable( {
		"bFilter": false,
		"bInfo": false,
		"bPaginate": false,
		"aoColumns": [ 
			{ "sType": "html" },
			{ "sType": "numeric" },
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "string" },
			{ "sType": "string" },
			{ "sType": "date-eu" }
		],
		"aaSorting": [[ 0, "asc" ]]
	} );
} );
{/literal}
</script>

<h1>IP-Adressen im Netzwerk {$network->getIpCompressed()}/{$network->getNetmask()}</h1>
{if !empty($iplist)}
	<table class="display" id="routerlist" style="width: 100%">
		<thead>
			<tr>
				<th>IP</th>
				<th>IP-Version</th>
				<th>Benutzer</th>
				<th>Router</th>
				<th>Interface</th>
				<th>Ressource-Records</th>
				<th>Angelegt am</th>
			</tr>
		</thead>
		<tbody>
			{foreach $iplist as $ip}
				<tr>
					<td>{$ip->getIpCompressed()}</td>
					<td>{$ip->getNetwork()->getIpv()}</td>
					<td>TODO</td>
					<td>TODO</td>
					<td>TODO</td>
					<td>TODO</td>
					<td>{$ip->getCreateDate()|date_format:"%d.%m.%Y"}</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
{else}
	<p>Keine IP-Adressen vorhanden.</p>
{/if}